.container{
    display: flex;
}
.lateral{
    flex-basis: 25%;
    background-color: #D3D3D3;
    border-right: 10px solid #e0e0e0;
}

.conteudo{
    flex-basis: 75%;
    background-color: #F5F5F5;
    padding-left: 30px;
}
.barra-lateral img {
  width: 100%;
  height: auto;
  display: block;
}